@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
*{
    box-sizing: border-box;
    /* border: 1px solid #000; */
}
a{
    text-decoration: none;
    color: #000;
}
h1,h2,p{
    margin: 0;
}

html,body{
    height: 100%;
}

.wrapper{
    height: 100%;
    background-color: #ccc;
    /* 漸層效果: linear-gradient */
    background: linear-gradient(#EF9FBF,#f9ded7);
    overflow: hidden;
}

/* product Card 設定 */

.product{
    width: 800px;
    height: 500px;
    background-color: #fff;
    box-shadow: 0 20px 80px 0 rgba(0,0,0,0.5);

    /* 水平居中：display ＆ margin 
        用auto條件 ：
        1. display block 
        2. 要有寬度值的設定
        3. 左右的auto都要有
    */
    margin-left: auto;
    margin-right: auto;
    margin-top: 128px;
    padding: 16px;

    border-radius: 4px;

}

.product .info{
    display: inline-block;
    vertical-align: top;
    width: 50%;
    padding: 64px 56px;
    border-color: #ccc;
    height: 100%;
    font-family: 'Helvetica', 'Arial', 'Noto Sans TC', '黑體-繁','微軟正黑體', sans-serif !important;

}

.product .image{
    display: inline-block;
    vertical-align: top;
    width: 50%;
    height: 100%;
    overflow: hidden;
    
}

.product .image img{
    height: 100%;
    width: 100%;
    display: block;
}

.product .name{
    font-size: 84px;
    font-weight: 300;
    color: #444;
    white-space: nowrap;
    margin-bottom: 16px;
    text-shadow: 0 48px 10px rgba(0,0,0,0.05);

    /* 定位元素與層級設定 */
    position: relative;
    z-index: 10;
}

.product .price{
    font-size:48px;
    font-weight: 300;
    color: #ea4c73;
    margin-bottom: 16px;
}

.product .description{
    font-size:18px;
    font-weight: 300;
    color: #666;
    margin-bottom: 16px;
    padding:3px;
}

.product .btn{
    display: inline-block;
    padding: 10px;
    line-height: 24px;
    text-align: center;
    width: 200px;
    text-decoration: none;
    font-size: 24px;
    letter-spacing: 8px;
    color: #fff;
    box-shadow: 0 8px 40px 0 rgba(0,0,0,0.5);
    background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}