*{
    box-sizing: border-box;
    border: 1px solid #000;
}

a{
    text-decoration: none;
    color: #000;
}

h1,h2,h4,p{
    margin: 0;
}

html,body{
    height: 100%;
}

.wrapper{
    height: 100%;
    background-color: #ccc;
    background: linear-gradient(#66B3FF, #C4E1FF);
    overflow: hidden;
}

.product{
    width: 800px;
    height: 500px;
    background-color: #fff;
    box-shadow: 0 20px 80px 0 rgba(0,0,0,0.5);

    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 100%;
    padding: 16px;
    border-radius: 4px;
}

.product .img{
    width: 50%;
    height: 100%;
    display: inline-block;
    overflow: hidden;
    
}

.product .img img{

}

.product .intro{
    width: 50%;
    height: 100%;
    padding: 30px;
    display: inline-block;
    overflow: hidden;

}

.product .name{
    font-size: 52px;
    font-weight: 300;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    white-space: nowrap;
    margin-bottom: 5px;
    display: inline-block;
    color: #004B97;
}

.product .generation{
    font-size: 16px;
    font-weight: 300;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    white-space: nowrap;
    margin-bottom: 16px;
    color: #C7C7E2;
}

.product .price{
    font-size: 16px;
    font-weight: 300;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    white-space: nowrap;
    margin-bottom: 16px;
    display: inline-block;
}
.product .price2{
    font-size: 16px;
    font-weight: 300;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    white-space: nowrap;
    margin-bottom: 16px;
    display: inline;
}
.product .date{
    font-size: 16px;
    font-weight: 300;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    white-space: nowrap;
    margin-bottom: 16px;
    display: inline-block;
}
.product .date2{
    font-size: 16px;
    font-weight: 300;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    white-space: nowrap;
    margin-bottom: 16px;
    display: inline-block;
}
.product .status{
    font-size: 16px;
    font-weight: 300;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    white-space: nowrap;
    margin-bottom: 16px;
    display: inline-block;
}
.product .status2{
    font-size: 16px;
    font-weight: 300;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    white-space: nowrap;
    margin-bottom: 16px;
    display: inline-block;
}
