/* 全域選擇器 */
*{
    box-sizing: border-box;
}

.colorpalette{
    /* 1 */
    border: 1px solid #000; 
    width: 400px;
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px 20px rgba(0,0,0,0.5);
    /* 一般來說要自己寫display */
    display: inline-block;
    vertical-align: top;
    /* margin: 100px; 向外擴張區域（橘色） 
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 100px;
    margin-left: 100px;
    /* padding: 50px; 向內縮區域（綠色）
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 50px;
    padding-left: 50px; */


}

.btn{
    border: 1px solid #000;
    width: 100px;
    height: 100px;
}
/* 選擇器之間的空格代表選取"裡面的"元素 */
.colorpalette .color{
    color: #fff; 
    font-size: 18px;
    font-family: "微軟正黑體";
    font-weight: 800;
    line-height: 2;
    /* border: 1px solid #000; */
    text-align: center;
    margin: 0;
}
/* 選擇器直接連著寫代表"同時有class A 和 B"的元素 */
/* EX: .color.color1 與 .color 指的是同一個，
不同的是"權重" */
.color.color1{
    background-color: #372C4A;
}
.color2{
    background-color: #4F3961;
}
.color3{
    background-color: #EA728C;
}
.color4{
    background-color: #FC9D9D;
}
.color5{
    background-color: #F3D4D4;
    height: 300px;
}